<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <title>Document</title>
  </head>
  <body>
    <button id="rzp-button1">purchase</button>
  </body>
  <script>
    document.getElementById("rzp-button1").onclick = function (e) {
      fetch("/order", {
        method: "POST", //pass body values
      })
        .then((resp) => resp.json())
        .then((info) => {
          var options = {
            key: "<%KEY_ID%>", // Enter the Key ID generated from the Dashboard
            // "amount": "50000", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            // "currency": "INR",
            name: "Acme Corp",
            description: "Test Transaction",
            image: "https://example.com/your_logo",
            order_id: info.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1 //refer web integration docs
            callback_url: "/is-order-completed", //send a post req to this url
            prefill: {
              name: "Gaurav Kumar",
              email: "gaurav.kumar@example.com",
              contact: "9999999999",
            },
            notes: {
              address: "Razorpay Corporate Office",
            },
            theme: {
              color: "#3399cc",
            },
          };

          var rzp1 = new Razorpay(options);
          rzp1.open();
          e.preventDefault();
        });
    };
  </script>
</html>
